<div class="toolbar" data-hook="toolbar">
  <ul class="actions">
    <li id="new_product_link">
      <%= link_to '<span><img alt="Add" src="/assets/admin/icons/add.png">New Organization</span>'.html_safe, new_admin_organization_path, :class => "button"  %>
    </li>
  </ul>
</div>

<h1>Listing Organizations</h1>

<table class="index" id="listing_artists" data-hook>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Website</th>
    <th>Actions</th>
  </tr>

  <% @organizations.each do |organization|   %>
    <tr>
      <td><%= link_to organization.name, admin_organization_url(organization)  %></td>
      <td><%= organization.email  %></td>
      <td><%= organization.webpage  %></td>
      <td>
        <%= link_to '<img alt="Edit" src="/assets/admin/icons/edit.png">Edit'.html_safe, edit_admin_organization_path(organization), :class=>"edit icon_link"  %>
        &nbsp;
        <%= link_to '<img alt="Delete" src="/assets/admin/icons/delete.png">Delete'.html_safe, admin_organization_path(organization), confirm: "Are you sure?", method: :delete  %>

      </td>
    </tr>


  <% end %>

</table>

