<h1><%= "Organization details:" %></h1>

  <p>
    <b>Name:</b>
    <%= @organization.name  %>
  </p>
  <p>
    <b>Webpage:</b>
    <%= @organization.webpage %>
  </p>
  <p>
    <b>Description:</b>
    <%= @organization.description %>
  </p>
  <p>
    <b>Contact Person last:</b>
    <%= @organization.contact  %>
    </p>
  <p>
  <p>
    <b>Contact First name:</b>
    <%= @organization.contact_name  %>
    </p>
  <p>
  <p>
    <b>Email:</b>
    <%= @organization.email  %>
    </p>
  <p>
    <b>Contact Phone #:</b>
    <%= @organization.contact_number%>
  </p>
  <p>
    <b>Contact HQ Address:</b>
    <%= @organization.address%>
  </p>
  <p>
    <b>City:</b>
    <%= @organization.city %>
  </p>
  <p>
    <b>State:</b>
    <%= @organization.state %>
  </p>
  <p>
    <b>Zip Code:</b>
    <%= @organization.zip %>
  </p>
  <p>
    <b>Country:</b>
    <%= @organization.country %>
  </p>
  <p>
    <b>Exemption number:</b>
    <%= @organization.exemption_number%>
  </p>
  <p>
    <b>Twitter:</b>
    <%= @organization.link_twitter  %>
  </p>
  <p>
    <b>Facebook:</b>
    <%= @organization.link_facebook %>
  </p>
  <p>
    <b>Photo:</b>
    <%= image_tag @organization.photo.url(:product) %>
  </p>

<%= link_to '<img alt="Edit" src="/assets/admin/icons/edit.png">Edit'.html_safe, edit_admin_organization_path(@organization) %> |
<%= link_to 'Back', admin_organizations_path %>

