<div class="footer_container">
    <div class="footer_background"></div>
        <!--Footer Starts-->
        <footer>
            <ul class="footer_links">
                <li><span><%= link_to "Home", root_url %></span>
                    <ul class="hidden_movil">
                        <li><%= link_to "Cause", root_url + "#cause" %></li>
                        <li><%= link_to "Goals", root_url + "#goals" %></li>
                        <li><%= link_to "Products", root_url + "#products" %></li>
                        <li><%= link_to "Artist", root_url + "#artist" %></li>
                        <li><%= link_to "Comments", root_url + "#comments" %></li>
                    </ul>
                </li>
                <li><span><%= link_to "About Us", about_us_path %></span>
                    <ul class="hidden_movil">
                        <li><%= link_to "What is YANAPANA?", about_us_path + "#whowearw"%></li>
                        <li><%= link_to "Our Family", about_us_path + "#family"%></li>
                    </ul>
                </li>
                <li class="hidden_movil"> <span><%= link_to "Get Involved", how_it_works_path %> </span>
                    <ul class="hidden_movil">
                        <li><%= link_to "Submit Your Designs", how_it_works_path + "#submityourdesigns"%></li>
                        <li><%= link_to "Non-Profit Partnership", partnership_path %></li>
                    </ul>
                </li>

                <li class="hidden_desktop">
                    <span><%= link_to "Design for us", how_it_works_path%> </span>
                </li>

                <li class="hidden_desktop">
                    <span><%= link_to "Non-Profit Partnership", partnership_path  %> </span>
                </li>
                <li class="hidden_desktop">
                    <span><%= link_to "Blog", how_it_works_path %> </span>
                </li>
                <li><span><%= link_to "FAQ", faq_path %></span>
                    <ul class="hidden_movil">
                        <li><%= link_to "Contact Us", contact_us_path %></li>
                        <li><%= link_to "Terms and Conditiond of Returns", terms_and_conditions_path %></li>
                        <li><%= link_to "Privacy Policy", privacy_policy_path %></li>
                        <li><%= link_to "Shipping Information", faq_path %></li>
                    </ul>
                </li>

                <li> <span><%= link_to "Contact Us", contact_us_path %></span>
                    <ul class="hidden_movil">
                        <li><%= link_to "Suggestions", contact_us_path + "#leavemessage" %></li>
                        <li><%= link_to "Questions", contact_us_path + "#leavemessage" %></li>
                        <li><%= link_to "Work With Us", contact_us_path + "#leavemessage" %></li>
                    </ul>
                </li>
            </ul>
            <div class="footer_customblock">
                <div class="shipping_info">
                    <big>NOT BUYING TODAY?</big><br>
                    <small>No problem! You can always spread the word on social networks. </small>
                    <div id="social_media">
                        <div class="find_us">
                            <a class="facebook_white" href="http://www.facebook.com/YANAPANAcom?fref=ts"></a> <a class="twitter_white" href="https://twitter.com/yanapanawear"></a> <a class="pinterest_white" href="https://pinterest.com/yanapana"></a> </div>
                        </div>
                    </div>
                <div class="contact_info">
                    <big>Subscribe to our newsletter</big>
                    <div id="newsletter">
                      <%= form_tag subscribe_path, :remote => true, :html => {:id => 'sign-up'} do %>

                        <input  type="email" value="" placeholder="Your Email" id="email" name="email">
                        <input type="submit" value="Register" name="subscribe" class="sign-up sc-button light-blue">

                        <span class="form-Motivationessage" id="response"></span>

                      <% end %>
                    </div>

                                    </div>
            </div>
            <address>
                <h1 class="logo_footer"> <a href="#"><%= image_tag ("image-yanapana/logo_footer.png") %></a></h1>
                Copyright © 2013 YANAPANA. All Rights Reserved.
            </address>
        </footer>
        <!--Footer Ends-->
    </div>
