<header>
  <div class="top_bar clear">
    <!--Language Switcher Starts
    <div class="language_switch"><a class="active" href="#" title="ENGLISH">EN</a><a href="#" title="FRENCH">FR</a><a href="#" title="SPANISH">ES</a><a href="#" title="GERMAN">DE</a> </div>
    Language Switcher Ends-->


    <!--Top Links Starts-->
    <ul class="top_links">
      <% if current_user %>
        <% unless Spree::Artist.find_by_email(current_user.email).nil?%>
          <li><%= link_to "Dashboard", dashboard_path %></li>
        <% end %>
        <li><a><%= current_user.email %></a></li>
        <li><%= link_to "Logout", destroy_user_session_path %></li>
      <% else %>
        <li><%= link_to "Login", login_path %></li>
      <% end %>
      <li>
        <div class="minicart">
          <%= link_to "Cart", :class => "minicart_link" do %>
            <% if current_order%>
              <span class="item"><b><%= current_order.item_count %></b> ITEM /</span> <span class="price"><b><%= current_order.display_total%></b></span>
            <% else %>
              <span class="item"><b>Empty</b> ITEM /</span> <span class="price"><b>0</b></span>
            <% end %>
          <% end %>

          <div class="cart_drop" style="display:none">
            <span class="darw"></span>
            <ul>
            <% unless current_order.nil? or current_order.line_items.empty?%>
              <%= render :partial => 'spree/shared/preview_cart', :locals => { :current_order => current_order } %>
              <% else %>
                <div class="empty"> Your Shopping cart is empty!</div>
              <% end %>
            </ul>
          </div>

        </div>
      </li>
    </ul>
    <!--Top Links Ends-->
  </div>

  <!--Responsive NAV-->
  <div class="responsive-nav" style="display:none;">

  </div>
  <!--Responsive NAV-->

</header>

