<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
  <!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
    <!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
      <!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
        <!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
<head>
  <%= render :partial => 'spree/layouts/head' %>
  <%= yield :head %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= yield :datos_sociales %>

</head>

<body>
  <div class="wrapper">
    <div class="header_container">
      <!--Header Starts-->
      <%= render :partial => 'spree/layouts/header' %>
    </div>
    <!--Branding Starts-->
    <div class="branding_container jean">
      <div class="branding_area">
        <!--Logo Starts-->
        <h1 class="logo"><%=link_to (image_tag("image-yanapana/logo_header.png")), root_path%></h1>
        <!--Logo Ends-->
        <!--Countdown Starts-->
        <div id='open-until'></div>
        <!--Countdown Ends-->
      </div>
    </div>
    <!--Branding Ends-->
    <div class="navigation_container jean">
      <!--Navigation Starts-->
      <nav>
        <ul class="primary_nav">
          <li class="active"><%= link_to "Home", root_path %></li>
          <li><%= link_to "About Us", about_us_path  %></li>
          <li>
            <%= link_to "Get involved", how_it_works_path  %>
            <ul class="sub_menu">
              <li>
                <ul>
                  <li><a href="#">Design For Us</a></li>
                  <li><a href="#">Non-Profit Partnership</a></li>
                </ul>
              </li>

            </ul>
          </li>

          <li><a href="#">Blog</a></li>
          <li><%= link_to "FAQ", faq_path  %>
           <ul class="sub_menu">
              <li>
                <ul>
                  <li><a href="#">Design For Us</a></li>
                  <li><a href="#">Non-Profit Partnership</a></li>
                </ul>
              </li>

            </ul>
          </li>
          <li><%= link_to "Contact Us", contact_us_path  %></li>
          
        </ul>
        <div id="social_media">
          <div class="find_us hidden_movil">
            <%= link_to '',  'http://facebook.com/YANAPANAwear?fref=ts', :class=>"facebook", :target=>"_blank"%> <%= link_to '', 'https://twitter.com/yanapanawear', :class=>"twitter", :target=>"_blank" %> <a class="pinterest" href="#"></a> </div>
        </div>

      </nav>
      <!--Navigation Ends-->
    </div>

    <%unless action_name == 'contact_us' %>
    <div class="flash alert jean">
      <%= flash_messages %>
    </div>
    <% end %>
    <%= yield %>
    <% yield :sidebar %>


  </div><!--End Wrapper-->


  <%= render :partial => 'spree/layouts/footer' %>
  <%@cause = Spree::Cause.where("date_start <= ? AND date_finish >= ?", Date.today, Date.today).order('date_start ASC').first%>
  <% unless @cause.nil? %>
    <%= javascript_include_tag "jquery.countdown.min" %>
      <script type="text/javascript" language="javascript" charset="utf-8">
    $(document).ready(function(){
        var liftoffTime = new Date(<%= @cause.date_finish.to_time.to_i * 1000 %>);
        $("#open-until").countdown({until: liftoffTime, layout: "<%= escape_javascript(render :partial => 'spree/shared/countdown')%>"
          });
        });
    </script>
  <% end %>
  <%= yield :javascripts %>

  <%= render :partial => 'spree/shared/google_analytics' %>

  </body>
</html>
