<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %>
<table class="data-table cart-table" id="shopping-cart-table" cellpadding="0" cellspacing="0">
  <thead>
    <tr>
      <th colspan="2"><%= t(:item) %></th>
      <th class="align_center" width="10%"><%= t(:Size) %></th>
      <th class="align_center hidden_movil" width="10%"><%= t(:price) %></th>
      <th class="align_center" width="10%"><%= t(:qty) %></th>
      <th class="align_center" width="10%"><%= t(:total) %></th>
      <th class="align_center" width="6%"></th>
    </tr>
  </thead>
  <tbody>
    <%= order_form.fields_for :line_items do |item_form| %>
      <%= render :partial => 'line_item', :locals => { :variant => item_form.object.variant, :line_item => item_form.object, :item_form => item_form } %>
    <% end %>
  </tbody>
  <%= render "spree/orders/adjustments" unless @order.adjustments.eligible.blank? %>
</table>
