<tr class="line-item">
  <td width="10%">
    <% if variant.images.length == 0 %>
      <%= link_to small_image(variant.product), variant.product %>
    <% else %>
      <%= link_to image_tag(variant.images.first.attachment.url(:small)), variant.product %>
    <% end %>
  </td>
  <td class="align_left">
    <h4><%= link_to variant.product.name, product_path(variant.product), :class => "pr_name" %></h4>
    <span class="pr_info"<%= variant.options_text %></span>
    <% if @order.insufficient_stock_lines.include? line_item %>
      <span class="out-of-stock">
        <%= variant.in_stock? ? t(:insufficient_stock, :on_hand => variant.on_hand) : t(:out_of_stock) %>&nbsp;&nbsp;<br />
      </span>
    <% end %>
    <%= line_item_description(variant) %>
  </td>
  <td class="align_center vline">
    <span class="price">
      <%= money line_item.price %>
    </span>
  </td>
  <td class="align_center vline">
    <%= item_form.number_field :quantity, :min => 0, :class => "qty_box line_item_quantity", :size => 5 %>
  </td>
  <td class="align_center vline">
    <%= money(line_item.price * line_item.quantity) unless line_item.quantity.nil? %>
  </td>
  <td class="align_center vline">
    <%= link_to '', nil, :class => 'remove delete', :id => "delete_#{dom_id(line_item)}" %>
  </td>
</tr>
