<div class="section_container jean pb">
  <section>
    <ul class="breadcrumb">
      <li><%= link_to "Home", root_path %></li>
      <li class="active">Shopping Cart</li>
    </ul>
  <% if @order.line_items.empty? %>
      <div class="full_page">
        <h1>Shopping cart</h1>
        <div class="message"><%= t(:your_cart_is_empty) %></div>
        <div class="action_buttonbar">
          <%= button_to t(:continue_shopping), root_path, :class => 'continue' %>
        </div>
      </div>
  <% else %>
      <div id="shopping_cart" class="full_page">
        <h1><%= t(:shopping_cart) %></h1>
      <div class="action_buttonbar">
        <%= form_tag empty_cart_path, :method => :put do %>
            <div id="clear_cart_link" data-hook>
            <%= button_tag :class => 'continue' do %>
              <%= t(:empty) %>
            <% end %>
            </div>
        <% end %>
          <%= button_to t(:continue_shopping), root_path, :class => 'checkout continue_shopping' %>

      </div>
        <%= form_for @order, :url => update_cart_path, :html => {:id => 'update-cart', :class => "edit_spree_order"} do |order_form| %>

          <div class="cart_table">
            <%= render :partial => 'form', :locals => { :order_form => order_form } %>
          </div>
          <div class="totals">
            <table id="totals-table">
              <tr>
                <td width="60%" colspan="1" class="align_left" ><strong>Subtotal</strong></td>
                <td class="align_right" style=""><strong><span class="order-total"><%= @order.display_total %></span></strong></td>
              </tr>
              <% unless @order.adjustments.eligible.blank? %> 
                <% render "spree/orders/adjustments" unless @order.adjustments.eligible.blank? %>
                <% @order.adjustments.eligible.each do |adjustment| %>
                  <tr>
                    <td width="60%" colspam="1" class="align_left"><%= adjustment.label %></td>
                    <td class="align_right"><%= money(adjustment.amount) %></td>
                  </tr>  
                <% end %>
              <% end %>
              <!-- <td width="60%" colspan="1" class="align_left total" >Grand Total</td>
               <td class="align_right" style=""><span class="total">$109.00</span></td>--!>
            </table>
          </div>
      <div class="action_buttonbar">
        <%= submit_tag t(:update), :class => 'Continue', :id => 'update-button' %>
          <%= button_tag :class => 'checkout', :id => 'checkout-link', :name => 'checkout' do %>
            <%= t(:checkout) %>
          <% end %>
        <% end %>

      </div>
    </div><!--End Shopping cart-->


    <!--CART STARTS-->
    <div id="shopping_cart" class="full_page">
    </div>
    <!--CART ENDS-->
      <% end %>
  </section>
</div>




