<div class="section_container jean pb">
  <section>
    <ul class="breadcrumb">
      <li><%= link_to "Home", root_path %></li>
      <li><a href="#">Shopping Cart</a></li>
      <li class="active">Checkout</li>
    </ul>
    
    <div class="full_page">
     <h1><%= t(:delivery_details) %></h1>
        <div class="checkout_steps">
          <ol id="checkoutSteps">
            
            <li id="checkout" class="sct">
               <div class="step-title">Step 1: Checkout Options<a class="edit fr" href="#">Modify ></a></div>
            </li>
            <li id="checkout" class="sct">
               <div class="step-title">Step 2: Billing Details<a class="edit fr" href="#">Modify ></a></div>
            </li>
            <li id="checkout" class="sct">
               <div class="step-title">Step 3: Delivery Method<a class="edit fr" href="#">Modify ></a></div>
            </li>
            
              <li class="section allow active" id="opc-login">
                <div class="step-title"> <span class="number">Step 4:</span>
                  <h2>Payment Method</h2>
                </div>
                <div id="checkout-step-billing">
                  <div id="shopping_cart" class="full_page">
                    <div class="message warning"><%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %></div>
                  </div>

                    <fieldset id="payment" data-hook>
                      <h6><%= t(:payment_method) %></h6>
                      <div data-hook="checkout_payment_step">
                        <% @order.available_payment_methods.each do |method| %>
                        <p>
                          <label>
                            <%= radio_button_tag "order[payments_attributes][][payment_method_id]", method.id, method == @order.payment_method %>
                            <%= t(method.name, :scope => :payment_methods, :default => method.name) %>
                          </label>
                        </p>
                        <% end %>
                    
                        <ul id="payment-methods" data-hook>
                          <% @order.available_payment_methods.each do |method| %>
                            <li id="payment_method_<%= method.id %>" class="<%= 'last' if method == @order.available_payment_methods.last %>" data-hook>
                              <fieldset>
                                <%= render :partial => "spree/checkout/payment/#{method.method_type}", :locals => { :payment_method => method } %>
                              </fieldset>
                            </li>
                          <% end %>
                        </ul>
                        <br style="clear:both;" />
                        <div data-hook="coupon_code_field" data-hook></div>
                      </div>
                    </fieldset>
                    
                    <br class="space" />
                    
                    <div class="form-buttons" data-hook="buttons">
                      <%= submit_tag t(:save_and_continue), :class => 'continue button primary' %>
                      <script>disableSaveOnClick();</script>
                    </div>
            </li>
            <li id="checkout" class="sct">
              <div class="step-title">Step 5: Confirm Order</div>
            </li>
            
          </ol>
      </div>
    </div>
  </section>
</div>

