<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<h1>Edit Text</h1>

<%= form_tag admin_review_settings_path, :method => :put do %>

  <p data-hook="">
  <label>
    <%= text_field_tag('preferences[text_home]', Spree::Config[:text_home]) %>
    <%= t(:text_at_home) %>
  </label>
  </p>

  <p class="form-buttons" data-hook="buttons">
  <%= button t(:update) %>
  </p>

<% end %>
