<% content_for :head do %>
<script>
  $(document).ready(function() {

	    $('.add_cart').click(function(){
            $('html, body').animate({scrollTop:0}, 'slow');
            $('.message.success').show("slow");
            return true;

            location.reload();
	    });

	});
</script>

<script>
$(document).ready(function() {

        $('a.fr').click(function(){
            $('.message.success').hide(1000);
	        return false;
	    });

	});
</script>


<!--Este script sirve para colapsar el quick overview-->
  <script type="text/javascript">
    $(function()
    {

      $("#mostrar").click(function(event) {
        event.preventDefault();
        $("#caja").slideToggle();
      });

      $("#caja a").click(function(event) {
        event.preventDefault();
        $("#caja").slideUp();
      });
    });
  </script>


<% end %>


	   <!-- <div class="zoom-container layout_default">
	          <div class="main-image">
			    <%= link_to (product_image(@product, :itemprop => "image") ), @product.images.first.attachment.url(:large), :class => "main-thumbnail", :id => "zoom"  %>
			    <div class="lightbox-btn">
			      <%= link_to "Agrandar",@product.images.first.attachment.url(:large), :class => "lightbox", :id => "zoom" %>
			    </div>
			  </div>
			  <div class="more-views ">
			    <div class="zoom-gallery slider">
			    <% @product.images.each do |i| %>
			      <div class="slide">
			        <%= link_to (image_tag i.attachment.url(:mini)), i.attachment.url(:large), {"class" => "zoom-thumbnail thumbnail-active", "data-easyzoom-source" => i.attachment.url(:product) } %>
			      </div>
			    <% end %>
			    </div>
			  </div>
            </div>-->

<div class="section_container">
  <section id="product-section">
    <ul class="breadcrumb">
      <li><%= link_to "Home", root_path %></li>
      <li class="active"><a href="#">Product Detail</a></li>
    </ul>

    <div id="shopping_cart" class="full_page">

      <div class="message success" style="display:none">
        Success :D <a href="#" class="fr">x</a>
      </div>

    </div>

    <!--PRODUCT DETAIL STARTS-->
    <div id="product_detail">
      <!--Product Left Starts-->
      <div class="product_leftcol">
        <%= link_to (product_image(@product, :itemprop => "image") ), @product.images.first.attachment.url(:large), :class => "rollover-zoom", :title => "yanapana"  %>

        <!-- <span class="pr_info">ROLL OVER IMAGE TO ZOOM</span> -->
        <ul class="pr_gallery">
        <% @product.images.each do |i| %>
          <%= link_to (image_tag i.attachment.url(:small)), i.attachment.url(:large), {"class" => "zoom-thumbnail thumbnail-active", "data-easyzoom-source" => i.attachment.url(:product) } %>
        <% end %>
        </ul>
      </div>

      <!--Product Left Ends-->

      <!--Product Right Starts-->
      <div class="product_rightcol">
        <h1><%= @product.name %></h1>
        <% if @product.description %>
          <p class="short_dc"><%= @product.description %></p>
        <% end %>


          <%= render :partial => "cart_form" %>

        <!--<div class="color_sel">
              <label>Color :</label>
              <select>
                <option>BEIGE</option>
                <option>CORAL</option>
              </select>
            </div>-->

          <!--<div class="qty_info">
            <div class="quantity">
              <label>Quantity :</label>
              <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>-->


          <div class="product_overview">
            <!--ORG Logo Starts-->
            <div>
              <!--ORG Logo Ends-->
              <!--ORG Description Starts-->
              <h4>Organization</h4>
              <div class="org_logo"><%= link_to (image_tag("image-yanapana/org_logo.png")), root_path %></div>
              <!--Facebook like button Starts-->
              <div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>

              <!--Facebook like button Ends-->

              <!--Twitter follotw button Starts-->

              <div class="follow-btn"><a href="https://twitter.com/StandUpCancer" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false" data-dnt="true">Follow @StandUpCancer</a></div>

              <!--Twitter follotw button Ends-->

            </div>

            <!--ORG Description Ends-->

          </div>

          <div class="product_overview hidden_movil">
            <%= render :partial => "properties" %>

          </div>
        </div>
        <!--Product Right Ends-->
      </div>
      <!--PRODUCT DETAIL ENDS-->
    </section>

  <div id="artist-section" class="artist-inspiration">
    <section>
      <h2 class="sub_title">The Artist</h2>
      <div class="artist"><a href="#"><%= image_tag ("image-yanapana/artist.jpg") %></a></div>
      <div class="artist_description">
        <h2 class="sub_title">Inspiration Behind</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
      </div>

      <!--Facebook like button Starts-->
      <div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>
      <!--Facebook like button Ends-->
      <!--Twitter follotw button Starts-->
      <div class="follow-btn"><a href="https://twitter.com/StandUpCancer" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false" data-dnt="true">Follow @StandUpCancer</a></div>
      <!--Twitter follotw button Ends-->
    </section>
  </div>
</div>


