<% content_for :title do %>
  Detalle de producto - <%= @product.name %>
<% end %>


<div class="product-view layout_default">
  
	<div class="product-essential">	
    
    <div class="product-img-box">		
	    
	    <div class="zoom-container layout_default">
	      
	      <div class="main-image">   
			    <%= link_to (product_image(@product, :itemprop => "image") ), @product.images.first.attachment.url(:large), :class => "main-thumbnail", :id => "zoom"  %>  
			
			    <div class="lightbox-btn">
			      <%= link_to "Agrandar",@product.images.first.attachment.url(:large), :class => "lightbox", :id => "zoom" %>        
			    </div>
			  </div> 
			  
			  <div class="more-views ">
			    <div class="zoom-gallery slider">
			    
			    <% @product.images.each do |i| %>
			      <div class="slide">
			        <%= link_to (image_tag i.attachment.url(:mini)), i.attachment.url(:large), {"class" => "zoom-thumbnail thumbnail-active", "data-easyzoom-source" => i.attachment.url(:product) } %>
			      </div>
			    <% end %>
			    </div>              
			  </div>
			  
			  <div class="more-views-arrow prev" style="cursor: pointer;">&nbsp;</div>
			  <div class="more-views-arrow next" style="cursor: pointer;">&nbsp;</div>                       
			
			</div>
			<%= render :partial => "properties" %>
	  </div><!-- end of .product-image-box -->
			
		<div class="product-shop"> 
		  <div class="product-name">
			  <h2><%= @product.name %></h2>
			</div>
			
			<div class="price-box">
        <span class="regular-price">
          <span class="price">Precio: <%= number_to_currency @product.price %></span>
        </span>
      </div>
      
      <div class="clear"></div>
      
      <% if @product.description %>
      <div class="short-description">
        <div class="std"><%= @product.description %></div>
      </div>        
      <% end %>
      
      <div id="container1">
        <%= render :partial => "cart_form" %>
      </div> <!-- end of .container1 -->  
      
        	    
    </div> <!-- end of .product-shop -->
  </div> <!-- end of .product-essential -->
</div>
