<div class="left">

  <%= f.field_container :last_name do  %>
    <%= f.label :last_name%><span class="required">*</span><br />
    <%= f.text_field :last_name %>
  <% end %>

  <%= f.field_container :name do  %>
    <%= f.label :name, 'First name'%><span class="required">*</span><br />
    <%= f.text_field :name %>
  <% end %>

  <%= f.field_container :date_of_birth do  %>
    <%= f.label :date_of_birth%><span class="required">*</span><br />
    <%= f.date_select :date_of_birth, :start_year => 1930, :end_year => 2012 %>
  <% end %>

  <%= f.field_container :sex do  %>
    <%= f.label :sex%> <span class="required">*</span><br />
    <%= f.radio_button :sex, "male" %>Male
    <%= f.radio_button :sex, "female" %>Female
  <% end %>

  <%= f.field_container :address do  %>
    <%= f.label :address%><br />
    <%= f.text_field :address %>
  <% end %>

  <%= f.field_container :city do  %>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  <% end %>

  <%= f.field_container :state do  %>
    <%= f.label :state%><br />
    <%= f.text_field :state %>
  <% end %>

  <%= f.field_container :zip do  %>
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  <% end %>

  <%= f.field_container :place do  %>
    <%= f.label :place, 'Country'%><br />
    <span id="bcountry">
      <%= f.collection_select(:place, Spree::Country.order("name ASC").all, :id, :name) %>
    </span>
  <% end %>

    </div>

<div class="right">
  <%= f.field_container :email do  %>
    <%= f.label :email %><span class="required">*</span><br />
    <%= f.email_field :email %>
  <% end %>

  <%= f.field_container :telephone do  %>
    <%= f.label :telephone, 'Phone #' %><br />
    <%= f.text_field :telephone %>
  <% end %>

  <%= f.field_container :type_art do  %>
    <%= f.label :type_art, 'Type of art' %><br />
    <%= f.text_field :type_art %>
  <% end %>

  <%= f.field_container :webpage do  %>
    <%= f.label :webpage, "Website"%><span class="required">*</span><br />
    <%= f.text_field :webpage %>
  <% end %>


  <%= f.field_container :portfolio do  %>
    <%= f.label :portfolio %><br />
    <%= f.text_field :portfolio %>
  <% end %>

  <%= f.field_container :link_twitter do  %>
    <%= f.label :link_twitter%><br />
    <%= f.text_field :link_twitter %>
  <% end %>

  <%= f.field_container :link_facebook do  %>
    <%= f.label :link_facebook%><br />
    <%= f.text_field :link_facebook %>
  <% end %>

    <%= f.field_container :photo do  %>
    <%= f.label :photo%><span class="required">*</span><br />
    <%= f.file_field :photo %>
  <% end %>

  <%= f.field_container :reason do  %>
    <%= f.label :reason, 'Reason to design for yannapana' %><span class="required">*</span><br />
    <%= f.text_area :reason, :style => "height:50px" %>
  <% end %>

</div>
