<h1>Edit artist</h1>

<%= form_for [:admin, @artist], :html => {:multipart => true} do |f| %>

  <% if @artist.errors.any?  %>
    <div id ="error_explanation">
      <h2><%= pluralize(@artist.errors.count, "error")%></h2>

      <ul>
        <% @artist.errors.full_messages.each do |msg| %>
          <li><%= msg  %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render :partial => 'form', :locals => {:f => f} %>
    <p>
      <%= button ("Save") %> <%= link_to t('cancel'), admin_artist_url(@artist) %>
    </p>
<% end %>
