<div class="left">
  <%= f.field_container :title do  %>
    <%= f.label :title, 'Cause' %><span class="required">*</span><br />
    <%= f.text_field :title %>
  <% end %>

  <%= f.field_container :titleshare do  %>
    <%= f.label :titleshare, 'Title' %><br />
    <%= f.text_field :titleshare %>
  <% end %>

  <%= f.field_container :description do  %>
    <%= f.label :description%><span class="required">*</span><br />
    <%= f.text_area :description, :style => "height:50px" %>
  <% end %>

  <%= f.field_container :goal_facebook do  %>
    <%= f.label :goal_facebook, "Goal Facebook" %><span class="required">*</span><br />
    <%= f.number_field :goal_facebook, :min => 1 %>
  <% end %>


  <%= f.field_container :goal_twitter do  %>
    <%= f.label :goal_twitter, "Goal Twitter" %><span class="required">*</span><br />
    <%= f.number_field :goal_twitter, :min => 1 %>
  <% end %>
  
  <%= f.field_container :goal_pinterest do  %>
    <%= f.label :goal_pinterest, "Goal Pinterest" %><span class="required">*</span><br />
    <%= f.number_field :goal_pinterest, :min => 1 %>
  <% end %>
  
  <%= f.field_container :goal_money do  %>
    <%= f.label :goal_money, "Goal Money" %><span class="required">*</span><br />
    <%= f.number_field :goal_money, :min => 1 %>
  <% end %>

  <%= f.field_container :number_goal do  %>
    <%= f.label :number_goal, "Counter goal" %><span class="required">*</span><br />
    <%= f.number_field :number_goal, :min => 1 %>
  <% end %>

  

  </div>

<div class="right">
  <%= f.field_container :artist_id do  %>
    <%= f.label :artist_id, 'Artist' %><br />
    <%= f.collection_select(:artist_id, Spree::Artist.order("name ASC").all, :id, :name_with_initial, :include_blank => 'None') %>
  <% end %>

  <%= f.field_container :organization_id do  %>
    <%= f.label :organization_id, 'Organization' %><span class="required">*</span><br />
    <%= f.collection_select(:organization_id, Spree::Organization.order("name ASC").all, :id, :name) %>
  <% end %>
  <%= f.field_container :inspiration do  %>
    <%= f.label :inspiration, ' Artist Inspiration ' %><br />
    <%= f.text_area :inspiration, :style => "height:40px" %>
  <% end %>


  <%= f.field_container :photo do  %>
    <%= f.label :photo%><span class="required">*</span><br />
    <%= f.file_field :photo %>
  <% end %>

  <%= f.field_container :video do  %>
    <%= f.label :video %><br />
    <%= f.text_area :video, :style => "height:40px" %>
  <% end %>

  <%= f.field_container :date do  %>
    <%= f.label :date_start, 'Date Start to Finish'  %><br />
    <%= f.datetime_select :date_start %> to <br/>
    <%= f.datetime_select :date_finish %>
  <% end %>



  <%= f.field_container :sharephoto do  %>
    <%= f.label :sharephoto %><br />
    <%= f.file_field :sharephoto %>
  <% end %>

</div>
