<div class="toolbar" data-hook="toolbar">
  <ul class="actions">
    <li id="new_product_link">
      <%= link_to '<span><img alt="Add" src="/assets/admin/icons/add.png">New Cause</span>'.html_safe, new_admin_cause_path, :class => "button"  %>
    </li>
  </ul>
</div>

<h1>Listing Causes</h1>

<table class="index" id="listing_artists" data-hook>
  <tr>
    <th>Title</th>
    <th>Goal Money</th>
    <th>Facebook Page</th>
    <th>Twitter Page</th>
    <th>Actions</th>

  </tr>

  <% @causes.each do |cause|   %>
    <tr>
      <td><%= link_to cause.title, admin_cause_url(cause)  %></td>
      <td><%= cause.goal_money  %></td>
      <td><%= cause.link_facebook  %></td>
      <td><%= cause.link_twitter  %></td>
      <td>
        <%= link_to '<img alt="Edit" src="/assets/admin/icons/edit.png">Edit'.html_safe, edit_admin_cause_path(cause), :class=>"edit icon_link"  %>
        &nbsp;
        <%= link_to '<img alt="Delete" src="/assets/admin/icons/delete.png">Delete'.html_safe, admin_cause_path(cause), confirm: "Are you sure?", method: :delete  %>

      </td>
    </tr>


  <% end %>

</table>
