<h1><%= "Cause details:" %></h1>

  <p>
    <b>Cause:</b>
    <%= @cause.title  %>
  </p>
  <p>
    <b>Title:</b>
    <%= @cause.titleshare  %>
  </p>

  <p>
    <b>Description:</b>
    <%= @cause.description %>
  </p>

  <p>
    <b>Goal Facebook:</b>
    <%= @cause.goal_facebook %>
    </p>
  <p>
    <b>Goal Twitter:</b>
    <%= @cause.goal_twitter%>
  </p>
  <p>
    <b>Goal Money:</b>
    <%= @cause.goal_money %>
  </p>

  <p>
    <b>Number Goal:</b>
    <%= @cause.number_goal %>
  </p>

  <p>
    <b>Date Start</b>
    <%= @cause.date_start %>
  </p>
  <p>
    <b>Date Finish</b>
    <%= @cause.date_finish %>
  </p>

  <p>
    <b>Photo:</b>
    <%= image_tag @cause.photo.url(:product) %>
  </p>
  <p>
    <b>Video:</b>
    <%= @cause.video.html_safe %>
  </p>

  <p>
    <b>Twitter:</b>
    <%= @cause.link_twitter %>
  </p>
  <p>
    <b>Facebook:</b>
    <%= @cause.link_facebook %>
  </p>
  <p>
    <b>Photo:</b>
    <%= image_tag @cause.sharephoto.url(:share_photo) %>
  </p>


<%= link_to '<img alt="Edit" src="/assets/admin/icons/edit.png">Edit'.html_safe, edit_admin_cause_path(@cause) %> |
<%= link_to 'Back', admin_causes_path %>
