
<%
  paginated_products = @searcher.retrieve_products if params.key?(:keywords)
  paginated_products ||= products
%>
<% active_prods = Array.new %>
<% products.each do |product| %>
  <% if Spree::Config[:show_zero_stock_products] || product.has_stock? %>
    <% active_prods << product %>
  <% end %>
<% end %>

<% if active_prods.empty? %>
  <%= t(:no_products_found) %>
<% elsif params.key?(:keywords) %>
  <%= t(:search_results, :keywords => h(params[:keywords]), :count => active_prods.count) %>
<% else %>
  <% t(:product_results, :count => active_prods.count) %>
<% end %>

<% if products.any? %>
  <section>
    <!--Product List Starts-->
    <div class="products_list products_slider">
      <h2 class="sub_title">Products</h2>
      <% reset_cycle('default') %>
    <ul id="first-carousel" class="first-and-second-carousel jcarousel-skin-tango">
      <% products.each do |product| %>
        <% if product.on_display? %>
          <li>
           <div class="product_img_container">
             <%= link_to product_image(product, :itemprop => "image"), product, :itemprop => 'url', :class=>"product_image" %>
             <div class="price_info">
              <%= form_for :order, :url => populate_orders_path, :remote => true do |f| %>
                <%= hidden_field_tag :quantity, 1%>

                <!--<a><button type="button" title="" class="price_add"><span class="pr_price"><%= product.display_price %></span><span class="pr_add"><span>Add to Cart</span></button></a>-->


                <% if product.has_variants? %>
                  <% options = Array.new %>
                  <% product.variants.active.each_with_index do |v,index|
                    next if v.option_values.empty? || (!v.in_stock && !Spree::Config[:show_zero_stock_products])

                    option = Array.new

                    option[0] = variant_options(v)
                    if variant_price_diff v
                      option[0] = option[0] + (variant_price_diff v)
                    end

                    option[1] = v.id

                    options.push(option) %>

                  <% end %>
                  <% v_option_values = Array.new %>
                  <% options.each do |o|
                    v_option_values << "<option value='" + o[1].to_s + "'>" + o[0] + "</option>" %>
                  <% end %>
                  <%= select_tag "products[#{product.id}]",v_option_values.join.html_safe %>
                <% end %>
                <%= button_tag :class => 'price_add', :type => :submit do %>
                  <span class="pr_price"><%= product.display_price %></span>
                  <%= t(:add_to_cart) %>
                <% end %>

              <% end %>
              </div>
            </div>
            <div class="product_info">
              <h3><%= link_to truncate(product.name, :length => 50), product, :class => 'info', :itemprop => "name", :title => product.name %></h3>
              <small><%= product.description %></small>
            </div>
          </li>
        <% end %>
      <% end  %>
    </ul>
    <% reset_cycle("classes") %>
      </div>
  </section>
<% end %>

<% if paginated_products.respond_to?(:num_pages) %>
  <%= paginate paginated_products %>
<% end %>
