<div class="section_container jean pb">
	<section>
	    <div class="full_page">
			<ul class="breadcrumb">
				    <li><%= link_to "Home", root_path %></li>
				    <li class="active">Contact Us</li>
			</ul>
			<h1>contact us </h1>
			<%= image_tag ("image-yanapana/contact-banner.jpg"), :class=>'contact-img'%>
			<div class="col_left_main contact_page">
				  <!--Google Maps Start-->
            <!--Google Maps Ends-->
                	<!--Contact Starts-->

			<p class="bb">At YANAPANA, we are always eager and hear about our customers.
Make sure to go through our FAQs. Answers to most questions can be quickly found there.
</p>

                    <!--Block Ends-->
        <!--Form Starts-->
				    <div class="block borderwhite">
              <%= form_tag(contact_us_path,:method => "post", :multipart => false, :class=>"contact-us") do %>
              <a name="leavemessage"></a>
                <h3>Leave a message</h3>
                <% unless alert.blank? %>
                  <p class="info">Your email was sent. Huzzah!</p>
                <% end %>
                <% unless @c.nil? %>
                  <% if @c.errors.any? %>
                    <p class="alert">Error submitting the form</p>
                    <ul>
                      <% @c.errors.full_messages.each do |msg| %>
                        <li>* <%= msg %></li>
                      <% end %>
                    </ul>
                  <% end %>
                <% end %>

						<ul id="contact_form" class="pb">
              <li class="contact-selector">
                <%= select_tag "suggestion", options_for_select([["Sugerencia" , "sugerencia" ],["Duda" , "duda" ],["Quiero vender poleras" , "quiero-vender-poleras" ]]), :class=>"contact-subject"  %>
							    <br />
							    <br />

							</li>


						    <li>
                  <%= text_field_tag "name", nil, :id => "name", :class=>"txt requireField", :placeholder=>"Name:" %>
							    <br />
						    </li>
						    <li>
                  <%= text_field_tag "email", nil, :id => "email", :class=>"txt requiredField email", :placeholder=>"Email:" %>
							    <br />
						    </li>
						    <li>
                  <%= text_field_tag "phone", nil, :id => "phone", :class=>"txt requiredField email", :placeholder=>"Telephone" %>
							    <br />
						    </li>
						    <li>
                  <%= text_area_tag "message", nil, :id => "message", :class=>"txtxarea requireField", :placeholder=>"Message:" %>
							    <br />
						    </li>
              <li>
                <%= submit_tag "Submit",:class => "subbutton brown_btn contact-submit" %>
              </li>
          </ul>
					    <% end %>
					</div>
        <!--Form Ends-->

                    <!--Contact Ends-->
				     </div>
			</div>

	    <div class="col_right">
        <div class="block-progress">
          <div class="block-title">Customer Service</div>
          <ul>
            <li><a href="#">F.A.Q.</a></li>
            <li><a href="#">Shipping Costs</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Terms and Conditions of Returns</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>

	<address>
          <b>Prefer to call us?</b>
			    <br/>
			    <br/>
                            +1 949 200 6392          Monday-Friday </br>7am - 12pm PST (Americas)
			    <br/>
			    <br/>
			    + 41 (0) 78 617 50 86    Monday-Friday </br> 1pm - 6pm CET (Europe)



                        </address>

        <!--<div class="right_promo">
          <%= image_tag 'side_promo_banner.jpg' %>
        </div>-->
      </div>

              </div>

      </div>
	</section>
</div>
