<div class="section_container jean pb">
	<section>
	    <div class="full_page">
			<ul class="breadcrumb">
				    <li><%= link_to "Home", root_path %></li>
				    <li class="active">Contact Us</li>
			</ul>
			<h1>contact us </h1>
			<div class="col_left_main contact_page">
				  <!--Google Maps Start-->
            <!--Google Maps Ends-->
                	<!--Contact Starts-->
                        <address class="bordergray">
                            <b>Yanapana</b><br/>
                            1-800-67-9569<br/>
                        </address>

                    <!--Block Ends-->
        <!--Form Starts-->
				    <div class="block borderwhite">

				      <p class="info">Your email was sent. Huzzah!</p>

              <%= form_tag(contact_us_path,:method => "post", :multipart => false, :class=>"contact-us") do %>
                <h3>Leave a message</h3>
                <% unless @c.nil? %>
                  <% if @c.errors.any? %>
                    <p class="alert">Error submitting the form</p>
                    <ul>
                      <% @c.errors.full_messages.each do |msg| %>
                        <li>* <%= msg %></li>
                      <% end %>
                    </ul>
                  <% end %>
                <% end %>

						<ul id="contact_form">
              <li class="contact-selector">
                <%= select_tag "suggestion", options_for_select([["Sugerencia" , "1" ],["Duda" , "2" ],["Quiero vender poleras" , "3" ]]), :class=>"contact-subject"  %>
							    <br />
							    <br />
							</li>

						    <li>
                  <%= text_field_tag "name", nil, :id => "name", :class=>"txt requireField", :placeholder=>"Name:" %>
							    <br />
						    </li>
						    <li>
                  <%= text_field_tag "email", nil, :id => "email", :class=>"txt requiredField email", :placeholder=>"Email:" %>
							    <br />
						    </li>
						    <li>
                  <%= text_field_tag "phone", nil, :id => "phone", :class=>"txt requiredField email", :placeholder=>"Telephone" %>
							    <br />
						    </li>
						    <li>
                  <%= text_area_tag "message", nil, :id => "message", :class=>"txtxarea requireField", :placeholder=>"Message:" %>
							    <br />
						    </li>
              <li>
                <%= submit_tag "Send us Mail!",:class => "subbutton brown_btn contact-submit" %>
              </li>
          </ul>
					    <% end %>
					</div>
        <!--Form Ends-->

                    <!--Contact Ends-->
				     </div>
			</div>

	    <div class="col_right">
        <div class="block-progress">
          <div class="block-title">Customer Service</div>
          <ul>
            <li><a href="#">F.A.Q</a></li>
            <li><a href="#">Secure Payment</li>
              <li><a href="#">Order Tracking</li>
            <li><a href="#">Shipping</li>
            <li><a href="#">Return Policy</li>
          </ul>
        </div>
              </div>
      </div>
	</section>
</div>
