<div class="section_container jean pb">
  <section>
    <ul class="breadcrumb">
      <li><%= link_to "Home", root_path %></li>
      <li class="active">Dashboard</li>
    </ul>
    <div class="full_page">
      <h2 class="sub_title">Welcome <%= @organization.name %>!</h2>
      <div class="dashboard-lcol">
        <%= image_tag @organization.photo.url(:product) %>
        </br>
        <div id="dashboard-box">
          <div class="dashboard-title">
            <h5>About</h5>
          </div>
          <ul class="profile_info">
            <li><p><%= @organization.webpage %></p></li>
            <li><p><%= @organization.description %></p></li>
            <li><p><%= @organization.email %></p></li>
            <li><p><%= @organization.contact_number %></p></li>
            <li><p><%= @organization.city %></p></li>
            <li><p><%= @organization.state %></p></li>
            <li><p><%= @organization.zip %></p></li>
            <li><p><%= @organization.country %></p></li>
            <li><p><%= @organization.exemption_number %></p></li>
            <li><p><%= @organization.link_twitter %></p></li>
            <li><p><%= @organization.link_facebook %></p></li>
          </ul>
        </div>

      </div>
      <div class="dashboard-rcol fr">
        <div id="dashboard-box">
          <div class="dashboard-title">
            <h5>General info</h5>
          </div>
          <div class="profile_info">
            <div class="profile_info_container">
              <% unless @causes.nil? %> 
                <% all_causes_money = 0  %>
                <% @causes.each do |c| %>
                  <% c.each do |cause|%>
                    <% all_causes_money = all_causes_money + cause.total_money %>
                  <% end %>
                <% end %>
              
              <canvas class="ib" id="canvas" height="200" width="200"></canvas>

				<script>
                  var doughnutData = [{value: <%= organization_total = (all_causes_money*10)/100 %>,color:"#ffe033"},{value : <%= cause_total = (all_causes_money*90)/100 %>,color : "#BCD806"}];
					var myDoughnut = new Chart(document.getElementById("canvas").getContext("2d")).Doughnut(doughnutData);
				</script>

				<div class="ib general-cause graphics">
                  <p class="yellow">Organization: <strong>$<%= organization_total %></strong></p>
					<p class="green">Cause: <strong>$<%= cause_total %></strong></p>
          <p class="total-don">Total donations: <strong>$<%= all_causes_money %></strong></p>
          <p class="total-don">Total causes: <strong><%= @total_causes %></strong></p>
				</div>
              <% end %>
            </div>
          </div><!-- End profile_info-->

          </br>
          </br>

          <div id="dashboard-box">
            <div class="dashboard-title">
              <h5>Causes overview</h5>
            </div>
            <div class="product-stats-content">
            <% unless @causes.nil? %> 
              <% @causes.each do |c| %>
              <ul>
                <% c.each do |cause|%>
                  <li class="graphics single-cause">
                	<canvas id="canvas2" height="100" width="100"></canvas>
                  <p><strong>"<%=cause.title%>"</strong></p>
                  <p class="yellow">Organization: <strong>$<%= organization_graph = (cause.total_money*10)/100 %></strong></p>
                  <p class="green">Cause: <strong>$<%= cause_graph = (cause.total_money*90)/100 %></strong></p>
                  <p class="total-don">Total: <strong>$<%= cause.total_money %></strong></p>

        					<script>
                              var doughnutData = [{value: <%= organization_graph %>,color:"#ffe033"},{value : <%= cause_graph %>,color : "#BCD806"}];
        						var myDoughnut = new Chart(document.getElementById("canvas2").getContext("2d")).Doughnut(doughnutData);
        					</script>
                </li>
                <% end %>
              </ul>
              <% end %><!--@causes.each -->
            <% end %>
            </div><!-- End Products-stats-content-->
          </div><!-- End dashboard-box -->

        </div>

      </div>
    </div>
  </section>
</div>
