<div class="section_container jean pb">
  <section>
    <ul class="breadcrumb">
      <li><%= link_to "Home", root_path %></li>
      <li class="active">Dashboard</li>
    </ul>
    <div class="full_page">
      <h2 class="sub_title">Welcome <%= @organization.name %>!</h2>
      <div class="dashboard-lcol">
        <%= image_tag @organization.photo.url(:product) %>
        </br>
        <div id="dashboard-box">
          <div class="dashboard-title">
            <h5>About</h5>
          </div>
          <ul class="profile_info">
            <li><p><%= @organization.webpage %></p></li>
            <li><p><%= @organization.description %></p></li>
            <li><p><%= @organization.email %></p></li>
            <li><p><%= @organization.contact_number %></p></li>
            <li><p><%= @organization.city %></p></li>
            <li><p><%= @organization.state %></p></li>
            <li><p><%= @organization.zip %></p></li>
            <li><p><%= @organization.country %></p></li>
            <li><p><%= @organization.exemption_number %></p></li>
            <li><p><%= @organization.link_twitter %></p></li>
            <li><p><%= @organization.link_facebook %></p></li>
          </ul>
        </div>

      </div>
      <div class="dashboard-rcol fr">
        <div id="dashboard-box">
          <div class="dashboard-title">
            <h5>General info</h5>
          </div>
          <div class="profile_info">
            <div class="profile_info_container">
              
              <canvas class="ib" id="canvas" height="200" width="200"></canvas>

				<script>
					var doughnutData = [{value: 10,color:"#ffe033"},{value : 100,color : "#BCD806"}];
					var myDoughnut = new Chart(document.getElementById("canvas").getContext("2d")).Doughnut(doughnutData);
				</script>

				<div class="ib general-cause graphics">
          <p class="yellow">Organization: <strong>$30</strong></p>
					<p class="green">Cause: <strong>$120</strong></p>
          <p class="total-don">Total donations: <strong>$150</strong></p>
          <p class="total-don">Total causes: <strong>5</strong></p>
				</div>
              
            </div>
          </div><!-- End profile_info-->

          </br>
          </br>

          <div id="dashboard-box">
            <div class="dashboard-title">
              <h5>Causes overview</h5>
            </div>
            <div class="product-stats-content">
              <ul>
                <li class="graphics single-cause">
                	<canvas id="canvas2" height="100" width="100"></canvas>
                  <p><strong>"Salvando al soldado Ryan"</strong></p>
                  <p class="yellow">Organization: <strong>$30</strong></p>
                  <p class="green">Cause: <strong>$120</strong></p>
                  <p class="total-don">Total: <strong>$150</strong></p>

        					<script>
        						var doughnutData = [{value: 10,color:"#ffe033"},{value : 100,color : "#BCD806"}];
        						var myDoughnut = new Chart(document.getElementById("canvas2").getContext("2d")).Doughnut(doughnutData);
        					</script>
                </li>

                <li class="graphics single-cause">
                  <canvas id="canvas3" height="100" width="100"></canvas>
                  <p><strong>"Salvando a Willie"</strong></p>
                  <p class="yellow">Organization: <strong>$30</strong></p>
                  <p class="green">Cause: <strong>$120</strong></p>
                  <p class="total-don">Total: <strong>$150</strong></p>

                  <script>
                    var doughnutData = [{value: 20,color:"#ffe033"},{value : 100,color : "#BCD806"}];
                    var myDoughnut = new Chart(document.getElementById("canvas3").getContext("2d")).Doughnut(doughnutData);
                  </script>
                </li>

                <li class="graphics single-cause">
                  <canvas id="canvas4" height="100" width="100"></canvas>
                  <p><strong>"Salvando a Willie"</strong></p>
                  <p class="yellow">Organization: <strong>$30</strong></p>
                  <p class="green">Cause: <strong>$120</strong></p>
                  <p class="total-don">Total: <strong>$150</strong></p>

                  <script>
                    var doughnutData = [{value: 40,color:"#ffe033"},{value : 100,color : "#BCD806"}];
                    var myDoughnut = new Chart(document.getElementById("canvas4").getContext("2d")).Doughnut(doughnutData);
                  </script>
                </li>

              </ul>
            </div><!-- End Products-stats-content-->
          </div><!-- End dashboard-box -->

        </div>

      </div>
    </div>
  </section>
</div>
