<div class="section_container jean pb">
  <section>
    <ul class="breadcrumb">
      <li><%= link_to "Home", root_path %></li>
      <li class="active">Dashboard</li>
    </ul>
    <div class="full_page">
      <h2 class="sub_title">Welcome <%= @artist.name %>!</h2>
      <div class="dashboard-lcol">
        <%= image_tag(@artist.photo.url(:profile_artist)) %>
        </br>
        <div id="dashboard-box" class="hidden_movil">
          <div class="dashboard-title">
            <h5>About</h5>
          </div>
          <ul class="profile_info">
            <li><p><%= @artist.date_of_birth%></p></li>
            <li><p><%= @artist.sex %></p></li>
            <li><p><%= @artist.city %></p></li>
            <li><p><%= @artist.state %></p></li>
            <li><p><%= @artist.email %></p></li>
            <li><p><%= @artist.telephone %></p></li>
            <li><p><%= @artist.type_art  %></p></li>
            <li><p><%= @artist.webpage %></p></li>
            <li><p><%= @artist.link_twitter %></p></li>
            <li><p><%= @artist.link_facebook %></p></li>
          </ul>
        </div>

        </br>
        <div id="dashboard-box">
          <div class="dashboard-title">
            <h5>General Stats</h5>
          </div>
          <ul class="profile_info">
            <li>
              <p>Total Products</p><span><%= @total_per_cause %></span>
            </li>
            <li>
              <p>Total Sales</p><span>$<%= @sales %></span>
            </li>
            <li>
              <p>Revenue</p><span>$0.00</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="dashboard-rcol fr">
        <div id="dashboard-box" class="hidden_movil">
          <div class="dashboard-title">
            <h5>Profile</h5>
          </div>
          <div class="profile_info">
            <div class="profile_info_container">
              <h3>Biography</h3>
              </br>
              <h3>Reason to design for Yanapana</h3>
              <p><%= @artist.reason %></p>
            </div>
          </div><!-- End profile_info-->

          </br>
          </br>

          <div id="dashboard-box">
            <div class="dashboard-title">
              <h5>Product Stats</h5>
            </div>
            <div class="product-stats-content">
              <ul class="dashboard-products">
                <% if @causes.empty? %>
                  <h3>You have no products yet </h3>
                <% else %>
                <!--Recorrer todas las causas -->
                <% @causes.each do |cause| %>
                  <% cause.products.each do |product| %>
                    <% @items = Spree::Order.total_per_product(product) %>
                    <% total_unit = 0 %>
                    <% quantity_per_product = 0%>
                    <% @items.each do |item| %>
                      <% total_item = item.quantity * item.price %>
                      <% total_unit = total_item + total_unit %>
                      <% quantity_per_product = item.quantity + quantity_per_product %>
                    <% end %>
                    <li>
                      <%= artist_products_image (product)%>
                      <div class="stats-content">
                        <div class="stats"><h5><%= product.name %></h5></div>
                        <div class="stats bb"><p>Unit Price</p><span>$<%= product.master.price %></span></div>
                        <div class="stats bb"><p>Sales per Unit</p><span><%= quantity_per_product %></span></div>
                        <div class="stats bb"><p>Total Sales</p><span>$<%= total_unit %></span></div>
                      </div>
                    </li>
                  <% end %>
                <% end %>
                                  <!--Termina el bloque de recorrer las causas -->
                <% end %>
              </ul>
            </div><!-- End Products-stats-content-->
          </div><!-- End dashboard-box -->

        </div>

      </div>
    </div>
  </section>
</div>
