<div class="section_container jean pb">
	<section>
		<ul class="breadcrumb">
		  <li><%= link_to "Home", root_path %></li>
			<li class="active">FAQ</li>
		</ul>
	  <div class="full_page" id="faq-style">
			<h1>Frequently Asked Questions </h1>
			  <div class="faq-index">
			    <h2 class="sub_title">Index</h2>
          <ul>
            <% unless @faqs.nil? %>
              <% @faqs.each do |faq| %>
                <li><%= link_to faq.question, "##{faq.question}"  %></a></li>
              <% end %>
            <% end %>
			      </ul>
        </div>
      <ul>
        <% unless @faqs.nil? %>
          <% @faqs.each do |faq| %>
            <li>
					    <a name="<%=faq.question%>"><h2 class="sub_title">Q: <%= faq.question  %></h2></a>
					    <p><%= faq.answer %></p>
			  	  </li>
          <% end %>
        <% end %>
			</ul>
    </div>
	</section>
</div>
