<div class="section_container jean pb">
	<section>
		<ul class="breadcrumb">
		  <li><%= link_to "Home", root_path %></li>
			<li class="active">FAQ</li>
		</ul>
	  <div class="full_page" id="faq-style">
			<h1>Frequently Asked Questions </h1>
			  <div class="faq-index">
			    <h2 class="sub_title">Index</h2>
          <ul>
            <% unless @faqs.nil? %>
              <% @faqs.each do |faq| %>
                <li><%= link_to faq.question, "##{faq.question}"  %></a></li>
              <% end %>
            <% end %>
			      </ul>
        </div>
        <% unless @faqs.nil? %>
          <% var = 0 %>
          <% @faqs.each_with_index do |faq, index| %>
            <% var = index + 1 %>
              <a name="<%=faq.question%>"><h2 class="sub_title"><%= var %>.<%= faq.question  %></h2></a>
					    <p><%= (faq.answer).html_safe %></p>
          <% end %>
        <% end %>
    </div>
	</section>
</div>
