<% content_for :datos_sociales do %>
  <% unless @cause.nil? %>
    <%= ('<meta property="og:title" content=" Yanapana | ' + @cause.titleshare.to_s  + ' " />').html_safe %>
    <%= ('<meta property="og:url" content="' + root_url + 'week-' + @cause.id.to_s + ' " />').html_safe %>
    <%= ('<meta property="og:image" content="' + @cause.sharephoto.url(:share_photo).to_s + '" />').html_safe if @cause.sharephoto %>
    <%= ('<meta property="og:description" content="Every purchase helps support this week&#39;s cause. Wear YANAPANA, change lives." />').html_safe %>
    <meta name="title" content="JW Player 5.1 Just Released!" />
  <% end %>
<% end %>

<!--SectionContainer-->

<div class="section_container">
	<!--Headline Starts-->
        <div id="headline" class="jean">
            <section>
                <!--CART STARTS-->
                <div id="shopping_cart">
                  <h1>Fashion, Solidarity and Change.</h1>
                <h4><%= Spree::Config[:text_home] %></h4>
            </section>
        </div>
        <!--Headline Ends-->

<% unless @cause.nil?  %>
<!--Cause Starts-->
<a name="cause"></a>
            <div  class="cause_background">
                  <div id="cause" class="cause">
                      <section>
                          <!--Cause Description Starts-->
                          <div class="cause_description">

                              <h2 #cause .cause_description><%= @cause.title %></h2>

				              <div>
                                  <div class="description_text hidden_tablet hidden_movil" id="sample">
                                       <h4>Cause</h4>
                                       <p> <%= (@cause.description).html_safe %> </p>
                                  </div>

                            <!--Cause Video Starts-->

                            <iframe class="video_description" width="560" height="315" src="http://www.youtube.com/embed/<%= @cause.video%>" frameborder="0" allowfullscreen="true"></iframe>


                              <!--Cause Video Ends-->

                               <!--ORG Logo Starts-->
                          <div id="org_description">

                              <!--ORG Logo Ends-->
                              <!--ORG Description Starts-->
                            <% if @cause.organization %>
                              <h4 class="hidden_movil hidden_tablet"><%= @cause.organization.name %></h4>
                              <p class="hidden_movil hidden_tablet"><%= @cause.organization.description%></p>

                              <h1 class="org_logo"><%= link_to (image_tag(@cause.organization.photo.url(:org))), @cause.organization.webpage, :target => "_blank" %></h1>
                              <!--Facebook like button Starts-->
                              <% if @cause.organization.link_facebook %>
                                <div class="fb-like" style="overflow: hidden" href="<%= @cause.organization.link_facebook %>" data-font="arial" data-show-faces="false" data-width="450px" data-layout="button_count" data-send="false"></div>
                              <% end %>
                              <!--Facebook like button Ends-->
                              <!--Twitter follotw button Starts-->
                              <% if @cause.organization.link_twitter %>
                              <div class="follow-btn">
                                <a href="<%= @cause.organization.link_twitter  %>" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false" data-dnt="true"></a>
                              </div>
                            <% end %>
                              <!--Twitter follotw button Ends-->

                              <div class="follow-btn"><a data-pin-config="none" href="//pinterest.com/pin/create/button/?url=<%= (root_url + 'week-' + @cause.id.to_s).html_safe%>&media=<%= Rack::Utils.escape(@cause.sharephoto.url(:share_photo)) %>&description=<%= @cause.title %>%20at%20www.yanapana.com" data-pin-do="buttonPin" ><img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" /></a></div>

                              <!--Shop Now Starts-->
                             <!-- <h1 id="call-to-action" class="sc-button blue">Support!</h1>-->
                              <!--Shop Now Ends-->
                          </div>
                          <% end %>
                          <!--ORG Description Ends-->
                          </div>
                          <!--Cause Description Ends-->
			                </div>
                      </section>
                  </div>
            </div>
        </div>

        <!--Cause Ends-->
<!--Goal Counter Copy Starts-->
<a name="goals"></a>
            <div id="goals">
                <section>
                <div class="goals_section">
                      <ul>
                        <div class="social-colsize">
                          <li>
                            <a target="_blank" onclick="return !window.open(this.href, 'Facebook', 'width=640,height=300')" href="http://www.facebook.com/sharer.php?u=<%= (root_url + 'week-' + @cause.id.to_s).html_safe %> " title="Share this webpage on Facebook" class="share fb"><div class="fb-icon hidden_movil"></div><%= image_tag ("image-yanapana/facebook_icon2.png"), :class=>'hidden_desktop'%></a>
                            <div class="goalbar goalbar_style">
                              <i id= "count_sharesf" class="progBar"></i>
                            </div>
                            <div class="stats">
                              <h4>
                                <span class="nums fr">
                                  <span id="facebook_per_cause"  class="count"></span>/
                                  <span class="goal"><%= @cause.goal_facebook %></span>
                                </span>
                                <span class="word fl">Share goal</span>
                              </h4>
                            </div>
                      </li>
                    </div>
                    <div class="social-colsize">
                      <li>
                        <!--<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>-->
                        <a href="https://twitter.com/intent/tweet?text=<%= @cause.title  %>+@yanapanawear&amp;original_referer=<%=(Rack::Utils.escape(root_url) + 'week-' + @cause.id.to_s).html_safe %>&amp;url=<%=(Rack::Utils.escape(root_url) + 'week-' + @cause.id.to_s).html_safe %>&amp;counturl=<%= (Rack::Utils.escape(root_url) + 'week-' + @cause.id.to_s).html_safe %>" target="_blank" ><div class="tt-icon hidden_movil"></div><%= image_tag ("image-yanapana/twitter_icon2.png"), :class=>'hidden_desktop'%></a>

                        <div class="goalbar goalbar_style"><i id = "count_twitts" class="progBar"></i></div>
                         <div class="stats">
                           <h4>
                            <span class="nums fr">
                              <span id="twitts_per_cause" class="count"></span>/
                              <span class="goal"><%= @cause.goal_twitter %></span>
                            </span>
                            <span class="word fl">Tweet goal</span>
                          </h4>
                        </div>
                      </li>
                    </div>
                    <div class="social-colsize">
                      <li>
                            <a href="//pinterest.com/pin/create/button/?url=<%= (root_url + 'week-' + @cause.id.to_s).html_safe %>&media=<%= Rack::Utils.escape(@cause.sharephoto.url(:share_photo))%>&description=Every%20purchase%20helps%20support%20this%20week's%20cause.%20Wear%20YANAPANA,%20changes%20lives." data-pin-do="buttonPin" data-pin-config="none"><div class="pin-icon hidden_movil"></div><%= image_tag ("image-yanapana/pinterest_icon.png"), :class => "hidden_desktop" %></a>
            
                        <div class="goalbar goalbar_style">

                          <% p = @total / @cause.goal_money %>
                          <% p = 470 * p %>
                          <i class="progBar" id="count_pins"></i>
                        </div>
                        <div class="stats">
                          <h4>
                            <span class="nums fr">
                              <span id="pins_per_cause" class="count"></span>/
                              <span class="goal"><%= @cause.goal_pinterest%></span>
                            </span>
                            <span class="word fl">Pinterest goal <%= @cause.number_goal %></span>
                          </h4>
                        </div>

                      </li>
                    </div>
                  </ul>
                </div>
                </section>
            </div>
            <!--Goal Counter Copy Ends-->

      <% end %><!--End if exist 1 cause-->

<a name="products"></a>
<% if params[:keywords] %>
      <% if @products_cause.nil? %>
        <h6 class="search-results-title">no_products_found</h6>
      <% else %>
        <%= render :partial => 'spree/shared/products', :locals => { :products => @products_cause, :taxon => @taxon } %>
      <% end %>
    </div>

  <% else %>
<!--Mid Section Starts-->

    <div class="productos jean">

      <% if @products_cause.empty? %>
            <h1></h1>
      <% else %>
        <%= render :partial => 'spree/shared/products', :locals => { :products => @products_cause, :taxon => @taxon } %>
      <% end %>
    </div>
          <% unless @artist.nil? %>
            <a name="artist"></a>
            <div id="artist-section" class="jean">
                <section>
                    <h2 class="sub_title">The Artist</h2>
                    <div class="artist"><a><%= image_tag(@artist.photo.url(:product)) %></a></div>
                    <div class="artist_description">
                        <h3><%= @artist.name + " " + @artist.last_name %></h3>
                        <p><%= (@artist.reason).html_safe %></p>

                    </div>
                     <!--Facebook like button Starts-->
                     <% if @artist.link_facebook %>
                      <div class="fb-like" style="overflow: hidden" href="<%= @artist.link_facebook %>" data-font="arial" data-show-faces="true" data-width="50px" data-layout="button_count"  data-height="30px" data-send="false" ></div>
                     <!--Facebook like button Ends-->
                    <% end %>
                    <!--Twitter follotw button Starts-->
                    <div class="follow-btn"><a href="<%= @artist.link_twitter  %>" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false" data-dnt="true"></a></div>
                    <!--Twitter follow button Ends-->
                </section>
            </div>
          <% end %>
            <div class="comments-section jean pb"><a name="comments"></a>
                <section class="comments">
                <h1 class="comments_tag fl">What do you think about the featured cause?</h1>
                <% unless @cause.nil? %>
                <div id="comments" class="fl">
                    <div class="fb-comments" data-href="<%= (root_url + 'week-' + @cause.id.to_s).html_safe %>" data-width="700" data-num-posts="2" data-order-by="reverse_time"></div>
                </div>
                <% end %>
                </section>
            </div>
<!--Mid Section Ends-->
  <% end %>

</div><!--EndSectionContainer-->
<% content_for :javascripts do %>
   <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

   <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

   <script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/es_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    
    <script>
      $(document).on("click", ".share-button-pin", function(e) {
        var $this, url;
        e.preventDefault();
        $this = $(this);
        url = $this.attr("href");
        return window.open(url, 'popUpWindow', 'height=500,width=600,left=10,top=10,resizeable=yes,scrollable=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes');
      });
    </script>
    
  <% unless @cause.nil? %>
    <script charset="utf-8" language="javascript" type="text/javascript">
    $(document).ready(function() {
      $(".cause_background").anystretch("<%=@cause.photo.url%>");
    });
    </script>
    <script type="text/javascript">
      $(function(){
        $("#mostrar").click(function(event) {
          $("#caja").slideToggle();
        });
      });

        function getfbcount(url){
        var fblikes;
          $.getJSON('https://api.facebook.com/method/fql.query?format=json&query=select%20%20share_count%20from%20link_stat%20where%20url="' + url + '"', function(data){

          fblikes = data[0]['share_count'];
          $('body').append('fblikes ' + fblikes);
          $('#facebook_per_cause').html(fblikes);
          var progresf = fblikes * 216;
          var totalf = <%= @cause.goal_facebook %>;
          var total_facebook = progresf / totalf;
          d = document.getElementById('count_sharesf');
          d.style.width= total_facebook + 'px';
          });
        }
      function gettwcount(url){
      var tweets;
      $.getJSON('http://urls.api.twitter.com/1/urls/count.json?url=' + url + '&callback=?', function(data){
          tweets = data.count;
          $('body').append('tweets' + tweets);
          $('#twitts_per_cause').html(tweets);
          var progres = tweets * 216;
          var total = <%= @cause.goal_twitter %>;
          var total_twitter= progres / total;
          d = document.getElementById('count_twitts');
          d.style.width= total_twitter + 'px';
          });
      }
      
      function getpins(url){
      var pins;
      $.getJSON('http://api.pinterest.com/v1/urls/count.json?url=' + url + '&callback=?', function(data){
          pins = data['count'];
          $('body').append('pins' + pins);
          $('#pins_per_cause').html(pins);
          var progres = pins * 470;
          var total = <%= @cause.goal_money %>;
          var total_pins= progres / total;
          d = document.getElementById('count_pins');
          d.style.width= total_pins + 'px';
          });
      }

      $(document).ready(function($){
        var url = "<%= (root_url + 'week-' + @cause.id.to_s).html_safe %>"

        getfbcount(url);
        gettwcount(url);
        getpins(url);
      });
  </script>

<script>
    var element = document.getElementById('mybutton');
    (function(x){ for (var n in x) if (n.indexOf('PIN_')==0) return x[n]; return null; })(window).f.render.buttonPin(element);
</script>


  <% end %>
<% end %>
<% if flash[:message] %>
  <script type="text/javascript">
    $('.feedback.positive').html("Thanks for adding me to your cart. :)").fadeIn(500).delay(7000).fadeOut(500);
  </script>
<% end %>
