<% content_for :head do %>
  <% unless @cause.nil? %>
  <script charset="utf-8" language="javascript" type="text/javascript">
    $(document).ready(function() {
      $(".cause_background").anystretch("<%=@cause.photo.url%>");
    });

  </script>
  <% end %>
<% end %>

<% content_for :metatags do %>
  <% unless @cause.nil? %>
    <%= ('<meta property="og:title" content=" Yanapana | ' + @cause.title  + ' " />').html_safe %>
    <%= ('<meta property="og:url" content="' + root_url + '" />').html_safe %>
    <%= ('<meta property="og:image" content="' + @cause.photo.url(:org).to_s + '" />').html_safe %>
    <%= ('<meta property="og:description" content="' + @cause.description.to_s  + '" />').html_safe %>
  <% end %>
<% end %>

<!--SectionContainer-->

<div class="section_container">
	<!--Headline Starts-->
        <div id="headline" class="jean">
            <section>
                <!--CART STARTS-->
                <div id="shopping_cart" class="full_page">
                  <div class="message success" style="display:none">Success :D </div>
                  <div class="message warning" style="display:none"></div>
                <h1>Sustainability. Solidarity. Fashion. Change.</h1>
                <h4>$8 of each purchase are given to a cause helping the development and protection of women</h4>
            </section>
        </div>
        <!--Headline Ends-->

<% unless @cause.nil?  %>
<!--Cause Starts-->
            <div class="cause_background">
                  <div id="cause" class="cause">
                      <section>
                          <!--Cause Description Starts-->
                          <div class="cause_description">
                              <h2><%= @cause.title %></h2>


                                  <div class="description_text hidden_tablet hidden_movil" id="sample">
                                       <h4>Cause</h4>
                                       <p> <%= @cause.description %> </p>
                                  </div>

                            <!--Cause Video Starts-->

                            <iframe class="video_description" width="560" height="315" src="http://www.youtube.com/embed/<%= @cause.video%>" frameborder="0" allowfullscreen></iframe>
                              <!--Cause Video Ends-->

                               <!--ORG Logo Starts-->
                          <div id="org_description">

                              <!--ORG Logo Ends-->
                              <!--ORG Description Starts-->

                              <h4 class="hidden_movil hidden_tablet">Organization</h4>
                              <p class="hidden_movil hidden_tablet"><%= @cause.organization.description%></p>

                              <h1 class="org_logo"><%= link_to image_tag(@cause.organization.photo.url(:org)), "leisure_index.html" %></h1>
                              <!--Facebook like button Starts-->

                                <div class="fb-like" style="overflow: hidden" href="<%= @cause.organization.link_facebook  %>" data-font="arial" data-show-faces="false" data-width="0px" data-layout="button_count" data-send="false" ></div>

                              <!--Facebook like button Ends-->
                              <!--Twitter follotw button Starts-->
                              <div class="follow-btn">
                                <a href="https://twitter.com/StandUpCancer" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false" data-dnt="true"></a>
                              </div>
                              <!--Twitter follotw button Ends-->

                              <a data-pin-config="none" href="//pinterest.com/pin/create/button/" data-pin-do="buttonBookmark" ><img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" /></a>
                              <!--Shop Now Starts-->
                                  <h1 id="call-to-action" class="sc-button blue"></h1>
                              <!--Shop Now Ends-->
                          </div>
                          <!--ORG Description Ends-->
                          </div>
                          <!--Cause Description Ends-->
                      </section>
                  </div>
            </div>
        </div>
        <!--Cause Ends-->


<!--Goal Counter Copy Starts-->
            <div id="goals">
                <section>
                <div class="goals_section">
                    <h2 class="sub_title">You can always help us spread the word about our featured causes free of charge.
 </h2>
                   <ul>
                        <div id="don_colsize">
                            <li>
                                <div class="donation_container">
                                    <div class="fl">
                                    <% image_tag ("image-yanapana/money_icon.png")%>
                                    </div>
                                       <div class="fl hidden_movil">
                                        <p>Donated so far</p>
                                        <span class="bucks"><%= number_to_currency(@cause.goal_money, :precision=>0) %></span>
                                        </div>
                                </div>
                                <div id="goalbar" class="goalbar_style"><i class="progBar"></i></div>
                                <div class="stats">
                                    <h4>
                                        <span class="nums fr">
                                            <span class="count"><%= number_to_currency(@cause.goal_money, :precision=>0)%></span>/
                                            <span class="goal"><%= number_to_currency(@cause.goal_money, :precision=>0)%></span>
                                        </span>
                                        <span class="word fl">Donation goal <%= @cause.number_goal %></span>
                                    </h4>
                                </div>

                            </li>
                        </div>
                        <div id="fb_colsize">
                          <li>
                            <div class="fb-like" data-href="http://yanapana-sta.herokuapp.com/" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>
                                <% image_tag ("image-yanapana/facebook_icon.png")%>
                                <div id="goalbar" class="goalbar_style"><i class="progBar"></i></div>
                                <div class="stats">
                                    <h4>
                                        <span class="nums fr">
                                            <span class="count">1,517</span>/
                                            <span class="goal"><%= @cause.goal_facebook %></span>
                                        </span>
                                        <span class="word fl">Share goal</span>
                                    </h4>
                                </div>
                          </li>
                        </div>
                        <div id="tt_colsize">
                            <li>
                                <%= image_tag ("image-yanapana/twitter_icon.png")%>
                                <div id="goalbar" class="goalbar_style"><i class="progBar"></i></div>
                                <div class="stats">
                                    <h4>
                                        <span class="nums fr">
                                            <span class="count">1,517</span>/
                                            <span class="goal"><%= @cause.goal_twitter %></span>
                                        </span>
                                        <span class="word fl">Tweet goal</span>
                                    </h4>
                                </div>
                            </li>
                        </div>
                   </ul>
                </div>
                </section>
            </div>
            <!--Goal Counter Copy Ends-->


      <% end %><!--End if exist 1 cause-->

  <% if params[:keywords] %>

      <% if @products_cause.nil? %>
        <h2><%= t(:no_products_found) %></h2>
      <% else %>
        <%= render :partial => 'spree/shared/products', :locals => { :products => @products_cause, :taxon => @taxon } %>
      <% end %>
    </div>

  <% else %>
<!--Mid Section Starts-->

        <div class="productos jean">
          <% if @products_cause.nil? %>
        <h6 class="search-results-title"><%= t(:no_products_found) %></h6>
      <% else %>
        <%= render :partial => 'spree/shared/products', :locals => { :products => @products_cause, :taxon => @taxon } %>
      <% end %>
        </div>
<% unless @artist.nil? %>
<div id="artist-section" class="jean">
                <section>
                    <h2 class="sub_title">The Artist</h2>
                    <div class="artist"><%= link_to image_tag(@artist.photo.url(:product)), "#" %></div>
                    <div class="artist_description">
                        <h2 class="sub_title"><%= @artist.name + " " + @artist.last_name %></h1>
                        <p><%= @artist.reason  %></p>
                        <h2 class="sub_title">adipisicing elit</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu.</p>
                    </div>
                     <!--Facebook like button Starts-->
                    <div class="fb-like" style="overflow: hidden" href="<%= @artist.link_facebook %>" data-font="arial" data-show-faces="true" data-width="50px" data-layout="button_count"  data-height="30px" data-send="false" ></div>
                    <!--Facebook like button Ends-->
                    <!--Twitter follotw button Starts-->
                    <div class="follow-btn"><a href="https://twitter.com/StandUpCancer" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false" data-dnt="true"></a></div>
                    <!--Twitter follow button Ends-->
                </section>
            </div>
          <% end %>
            <div class="comments-section jean pb">
                <section class="comments">
                <h1 class="comments_tag fl">Don’t be shy! Express your thoughts about this week’s awesome cause right here: </h1>
                <div id="comments" class="fl">
                    <div class="fb-comments" data-href="<%= root_url %>" data-width="700" data-num-posts="2" data-order-by="reverse_time"></div>
                </div>
                </section>
            </div>
<!--Mid Section Ends-->
  <% end %>
</div><!--EndSectionContainer-->


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>


<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
