<!DOCTYPE HTML>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en-US"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en-US"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en-US" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml"> <!--<![endif]-->
<head profile="http://gmpg.org/xfn/11">

	<title>YANAPANA | Artists designed apparel fighting for gender equality and women&#039;s empowerment.</title>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, user-scalable=no, maximum-scale=1.0, initial-scale=1.0">


		<!-- BEGIN Meta and Open Graph Tags -->

		<meta property="og:title" content="YANAPANA | Artists designed apparel fighting for gender equality and women&#039;s empowerment."/>
						<meta property="fb:app_id" content="270713933064719"/>


			<meta name="description" content="Artists designed apparel fighting for gender equality and women&#039;s empowerment." />
      <%= ('<meta property="og:url" content="'  + landing_url + '" />').html_safe %>
			<meta property="og:site_name" content="YANAPANA" />
      <meta property="og:description" content="Artists designed apparel fighting for gender equality and women&#039;s empowerment." />
			<meta property="og:type" content="website"/>


		<!-- END Meta and Open Graph Tags -->



	<!-- Favicon -->
		<link rel="shortcut icon" href="http://sitiowebsocial.com/yanapana/wp-content/uploads/2013/03/favicon.ico" type="image/x-icon" />

	<!-- WebFonts -->
	<script type="text/javascript">
	<script src="https://apis.google.com/_/scs/apps-static/_/js/k=oz.gapi.en_GB.vjJxBv1jAn0.O/m=plusone/rt=j/sv=1/d=1/ed=1/am=QQ/rs=AItRSTP9YpaLBjyU1EIwAM2tfMpS4igROA/cb=gapi.loaded_0" async=""></script><script type="text/javascript">

		WebFontConfig = {
			google: { families: [ 'Oswald', 'Podkova' ] }		};
	</script>

  <link rel="alternate" type="application/rss+xml" title="YANAPANA &raquo; Sign Up Comments Feed" href="http://sitiowebsocial.com/yanapana/?feed=rss2&#038;page_id=5" />
  <%= stylesheet_link_tag 'landingpage/main', :media => 'all', :id => 'lefx_css_main-css'%>
  <link rel='stylesheet' id='lefx_css_dynamic-css'  href='http://sitiowebsocial.com/yanapana/wp-content/themes/launcheffect/ss/dynamic-css.php?ver=1.61' type='text/css' media='all' />
<script type='text/javascript' src='http://code.jquery.com/jquery-1.8.3.min.js'></script>
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/webfont/1.0.22/webfont.js'></script>
<%= javascript_include_tag "landingpage/jqModal" %>
<%= javascript_include_tag "landingpage/spin" %>
<script type="text/javascript" src="http://sitiowebsocial.com/yanapana/wp-content/themes/launcheffect/js/jquery.imagesloaded.min.js"></script>
<%= javascript_include_tag "landingpage/init" %>
<%= javascript_include_tag "landingpage/all" %>

<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://sitiowebsocial.com/yanapana/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://sitiowebsocial.com/yanapana/wp-includes/wlwmanifest.xml" />
<link rel='prev' title='Sample Page' href='http://sitiowebsocial.com/yanapana/?page_id=2' />
<meta name="generator" content="WordPress 3.5.1" />
<link rel='canonical' href=<%= landing_url %> />

	<!-- Mobile Stylesheets -->
  <%= stylesheet_link_tag 'landingpage/responsive', :media => 'only screen and (max-width: 590px)'%>

	<!-- Google PlusOne Button -->
	<!--<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
	      {"parsetags": "explicit"}
	</script>
  <script type="text/javascript">
    function renderPlusone() {
      gapi.plusone.render('plusoneblock');
    }
  </script>
  -->
	<!-- Start Google Analytics -->
		<!-- End Google Analytics -->

	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<style>
	#background {
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://sitiowebsocial.com/yanapana/wp-content/uploads/2013/03/iStock_000022161065Smedium.jpg', sizingMethod='scale');

		-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://sitiowebsocial.com/yanapana/wp-content/uploads/2013/03/iStock_000022161065Smedium.jpg', sizingMethod='scale')";
	}

	</style>
	<![endif]-->

	<!-- Start Additional User-Defined Code -->
		<!-- End Additional User-Defined Code -->

	<!-- Start Additional User-Defined CSS -->
		<!-- End Additional User-Defined CSS -->
<body class="home page page-id-5 page-template page-template-launch-php lite" id="signup-bodytag">

	<div id="fb-root"></div>

	<script>
	  window.fbAsyncInit = function() {
	    FB.init({appId: '270713933064719',
	             status: true,
	             cookie: true,
	 	     	 xfbml: true,
	 	     	 channelUrl: 'http://sitiowebsocial.com/yanapana/wp-content/themes/launcheffect/inc/facebookchannel.php'
	 	     	 });
	  };
	  (function() {
	    var e = document.createElement('script'); e.async = true;
	    e.src = document.location.protocol +
	      '//connect.facebook.net/en_US/all.js';
	    document.getElementById('fb-root').appendChild(e);
	  }());
	</script>

	<div id="background" class=""></div>
	<div id="signup-page-wrapper">

		<div id="signup-page">

			<!-- LEARN MORE BUTTON (Premium) -->


			<div class="clear"></div>

			<div id="signup" class="medium center nocf">

				<div id="signup-content-wrapper">

										<!-- LOOP CONTENT (AT TOP) -->
					<div id="signup-editor-content"><div class="clear"></div></div></div>


					<!-- LOGO -->
					<header class="no-margin">
						<h1 class="haslogo hastextheading"><img src='http://sitiowebsocial.com/yanapana/wp-content/uploads/2013/03/yplogo1.png'><span>Wear YANAPANA, <br> Help empower a woman.</span></h1>
					</header>


					<!-- YOUTUBE / VIMEO EMBED -->
					<iframe width="640" height="360" src="http://www.youtube.com/embed/bRpimCP-DcE?rel=0" frameborder="0" allowfullscreen></iframe>

					<!-- PROGRESS INDICATORS (Premium) -->



					<div id="signup-body">
						<!-- H2 SUBHEADING / P DESCRIPTION (PRESIGNUP) -->
						<div id="presignup-content" class="signup-left">
							<h2>Artists designed apparel fighting for gender equality & women's empowerment.</h2>

							<p>Join us to learn how you can help us make a difference.  You will also get a $5 discount code valid on your first purchase made during launch week.</p>
													</div>

						<!-- H2 SUBHEADING / P DESCRIPTION (SUCCESS) -->
						<div id="success-content">
							<h2>At YANAPANA we believe that sharing is caring.</h2>

							<p>Thank you for registering. <br />
<br />
In order for us to have the most impact, we need to build a strong network of change makers who are just like you.  <br />
<br />
Therefore, your challenge is (if you choose to accept it) to help spread the word with your friends and family.  As a reward for your efforts, we have worked out a special offer only available to early registrants.  Here is how it works: <br />
<br />
5-10 friends sign ups:    you get a FREE limited edition YANAPANA T-shirt with your first purchase made during launch week.<br />
<br />
11-20 friends sign ups:  you get a FREE limited edition YANAPANA hoodie with your first purchase made during launch week.<br />
<br />
Over 21 friends signs ups: you get BOTH the T-shirt and the hoodie with your first purchase made during launch week.<br />
<br />
You can easily see your stats. by logging back in using your email address.</p>
													</div>

						<!-- FORM -->
											<!-- STORE STUFF FOR JS USE -->

					<input type="hidden" id="blogURL" value="http://sitiowebsocial.com/yanapana" />
					<input type="hidden" id="twitterMessage" value="YANAPANA is coming to town!  Check out this hip, up and coming social enterprise dedicated to help empower women." />
					<input type="hidden" id="templateURL" value="http://sitiowebsocial.com/yanapana/wp-content/themes/launcheffect" />

					<!-- FORM (PRE-SIGNUP) -->
          <%= form_tag newsletter_path, :remote => true, :id => 'form' do %>
            <fieldset>
              <input type="hidden" name="code" id="code" value="HATed" />

              <ul id="form-layout">
                <li class="first">
                  <label for="email">
                    YOUR EMAIL ADDRESS
                    <span> *</span>
                    <a href="#" id="reusertip">
                      Returning user?
                      <div id="reuserbubble">
                        Simply enter your email address and submit the form to view your stats.									<div class="reuserbubble-arrow-border"></div>
                        <div class="reuserbubble-arrow"></div>
                      </div>
                    </a>
                  </label>

                  <!-- START IF NO CUSTOM FIELDS //////////////////////////////////////////////////////////////////// -->
                  <div id="email-layout">
                    <span id="emailinput">
                      <input  type="email" value="" placeholder="Your Email" name="email">
                    </span>
                    <!-- SUBMIT BUTTON -->
                    <span id="submit-button-border">
                      <span id="submit-button-spinner"></span>
                      <input type="submit" name="submit" value="Register" id="submit-button" />
                    </span>
                    <span class="form-Motivationessage" id="response"></span>

                  </div>

																		<!-- //////////////////////////////////////////////////////////////////// END IF NO CUSTOM FIELDS -->


									<!-- START IF CUSTOM FIELDS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
																		<!-- END IF CUSTOM FIELDS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->


									<!-- ERROR MESSAGING -->
									<div class="clear"></div>
									<div id="error"></div>
								</li>


								<!-- INCLUDE CUSTOM FIELDS (Premium) -->



								<!-- START IF CUSTOM FIELDS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
																<!-- END IF CUSTOM FIELDS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->

								<div class="clear"></div>

								<li>
									<!-- PRIVACY POLICY LINK -->
																		<span class="privacy-policy">
										By submitting my email, I understand the <a href="#" id="modal-privacy" class="modal-trigger">privacy policy.</a>
									</span>

								</li>

								<div class="clear"></div>

							</ul>

							<div class="clear"></div>

						</fieldset>
            </form>
            <% end %>
					<!-- FORM (POST-SIGNUP) -->
					<form id="success" action="">
						<fieldset>

							<!-- RETURNING USER -->
							<div id="returninguser">
								<h2>HELLO!</h2>


								<p>
									Welcome back <span class="user"> </span>.<br />

									<span >
										<span class="clicks"> </span> clicked your link so far.<br />
									</span>

									<span >
										<span class="conversions"> </span> signed up. <br><br> Remember that the more people you get to sign up, the better: <br><br>5-10 friends signed up:    you get a FREE limited edition YANAPANA T-shirt with your first purchase made during launch week. <br><br>11-20 friends signed up:  you get a FREE limited edition YANAPANA hoodie with your first purchase made during launch week. <br><br>Over 21 friends signed up: you get BOTH the T-shirt and the hoodie with your first purchase made during launch week.									</span>
									<br /><br />
								</p>


							</div>

							<!-- SOCIAL MEDIA BUTTONS -->
							<div class="signup-left">

																<h2 class="social-heading">SPREAD THE WORD BY USING YOUR FAVORITE SOCIAL NETWORK</h2>

								<div class="social-container">
									<div class="social">
                    <div id="tweetblock" >
                      <a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= landing_url %>"  data-text="YANAPANA is coming to town!  Check out this hip, up and coming social enterprise dedicated to help empower women " data-count="none">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    </div>
                    <div id="fblikeblock" >
                      <div class="fb-like" data-href="<%= landing_url %>" data-send="true" data-width="120" data-show-faces="false" data-font="arial" layout="button_count"></div>
                    </div>
                    <div id="plusoneblock" >
                      <!-- Place this tag where you want the +1 button to render. -->
                      <div class="g-plusone" data-size="tall" data-annotation="none"></div>

                      <!-- Place this tag after the last +1 button tag. -->
                      <script type="text/javascript">
                        (function() {
                         var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                         po.src = 'https://apis.google.com/js/plusone.js';
                         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                         })();
                      </script>
                    </div>
										<script type="text/javascript">
											var tumblr_link_name = "";
											var tumblr_link_description = "";
										</script>
                    <div id="tumblrblock" >
                      <a href="http://www.tumblr.com/share" title="Share on Tumblr" style="display:inline-block; text-indent:-9999px; overflow:hidden; width:81px; height:20px; background:url('http://platform.tumblr.com/v1/share_1.png') top left no-repeat transparent;">Share on Tumblr</a>
                    </div>
										<div id="linkinblock" ></div>
									</div>
									<div class="clear"></div>
								</div>
								<div class="clear"></div>							</div>

							<!-- RETURNING USER REFERRAL URL -->
							<div id="returninguserurl">
								<div class="signup-right">
                  <label>OR, COPY AND PASTE THE LINK BELOW</label>
                  <input type="text" id="returningcode" value=<%= landing_url %> onclick="SelectAll('returningcode');"/>
								</div>
							</div>

							<!-- NEW USER -->
							<div id="newuser">
								<div class="signup-right">
																		<label for="email">OR, COPY AND PASTE THE LINK BELOW</label>
																		<input type="text" id="successcode" value="<%= landing_url %>" onclick="SelectAll('successcode');"/>
								</div>

								<div class="clear"></div>
								<div id="pass_thru_error"></div>
							</div>

						</fieldset>
					</form>

					</div>

					<!-- LINK TO BLOG/OTHER WEBSITES -->

						<div class="clear"></div>

	<!-- LINK TO BLOG/OTHER WEBSITES -->

	<ul id="inner-footer">
						<li class="inner-footer_icon facebook"><a href="https://www.facebook.com/YANAPANAwear" target="_blank">Facebook Page</a></li>
						<li class="inner-footer_icon twitter"><a href="https://twitter.com/yanapanawear" target="_blank">Follow Me</a></li>
																				<li class="inner-footer_icon facebooklike"><div class="fb-like" data-href="https://www.facebook.com/YANAPANAwear" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false" data-font="arial"></div></li>

				<div class="clear"></div>
	</ul>

	<div class="clear"></div>
					<!-- LOOP CONTENT (AT BOTTOM) -->

				</div> <!-- end #signup-content-wrapper -->

			</div> <!-- end #signup -->

		</div> <!-- end #signup-page -->

	</div> <!-- end #signup-page-wrapper -->
	<div class="clear"></div>

	<!-- PRIVACY POLICY MODAL -->
	<div id="privacy-policy" class="jqmWindow">
		<a href="#" class="close">&times;</a>
		<h2>privacy policy.</h2>
		<p>Your email will never be shared with a third party.  We will only use to inform you about our launch and provide relevant information about our movement and the causes that we support.  You'll have the opportunity to unsubscribe at any time, immediately, once you receive your first email.</p>
	</div>

	<!-- FOOTER BRANDING (Premium/Free) -->

<!--
	<ul id="footer">

<li>
			Powered by <a href="http://www.launcheffectapp.com" class="logo" target="_blank">Launch Effect</a> for WordPress by <a href="http://www.barrelny.com" target="_blank">Barrel</a>
		</li>

	</ul>

-->

	<!-- START ADDITIONAL USER-DEFINED CODE -->



<div class="fb-comments" data-href="http://sitiowebsocial.com/yanapana/" data-width="470" data-num-posts="10"></div>

		<!-- END ADDITIONAL USER-DEFINED CODE -->


</body>
</html>
