<div class="section_container jean pb">
  <section>
    <div class="full_page">
      <ul class="breadcrumb">
	 <li><%= link_to "Home", root_path %></li>
	 <li class="active">login</li>
      </ul>
  <% if flash[:alert] %>
    <div class="flash errors"><% flash[:alert] %></div>
  <% end %>

  <% @body_id = 'login' %>
  <div class="one-half">
    <h3>New Customer</h3>
    <p>Register Account</p>
    <p>By creating an account you will be able to shop faster, be up to date on an order's status,
    and keep track of the orders you have previously made.</p>
    </br>
    <div id="createaccount-btn">
    <%= link_to t(:create_a_new_account), spree.signup_path %>
    </div>
  </div>
  
  <div class="one-half" id="existing-customer">
    <h3><%= t(:login_as_existing) %></h3>
    <p>I am a returning customer.</p>
    <div data-hook="login">
      <%= render :partial => 'spree/shared/login' %>
      <%= link_to t(:forgot_password), spree.new_user_password_path %>
    </div>
  </div>
  <div data-hook="login_extras"></div>
  </div>
  </section>
</div>
