<div class="left">
  <%= f.field_container :question do  %>
    <%= f.label :question %><span class="required">*</span><br />
    <%= f.text_field :question %>
  <% end %>

  <%= f.field_container :answer do  %>
    <%= f.label :answer %><span class="required">*</span><br />
    <%= f.text_area :answer %>
  <% end %>

</div>

