<h1>New Faq</h1>

<%= form_for [:admin, @faq], :html => {:multipart => true} do |f| %>

  <% if @faq.errors.any?  %>
    <div id ="error_explanation">
      <h2><%= pluralize(@faq.errors.count, "error")%></h2>

      <ul>
        <% @faq.errors.full_messages.each do |msg| %>
          <li><%= msg  %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render :partial => 'form', :locals => {:f => f} %>
    <p>
      <%= button t("create") %> <%= link_to t('cancel'), collection_url %>
    </p>
<% end %>
